body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(48, 48, 48);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: rgb(24, 24, 24);
    padding: 0px 30px 0px 30px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: darkcyan;
}

.title {
    font-family:'Roboto', 'Sans Serif';
}

main {
    padding: 60px 30px 30px 60px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button.rock {
    background-image: url('images/therock.jpg');
    background-size: cover;
    color:white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px black;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    border-width: 2px;
    border-color: black;
}

button.paper {
    background-image: url('images/paper.jpg');
    background-size: cover;
    color:white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px black;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    border-width: 2px;
    border-color: black;
}

button.scissors {
    background-image: url('images/scissors2.jpeg');
    background-size: cover;
    background-position: center;
    color:white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px black;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(170, 47, 47);
}

h1 {
    color: white;
}

.result {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    padding-top: 32px;
}