body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: black;
    padding: 0px 30px 0px 30px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: darkcyan;
}

.title {
    font-family:'Roboto', 'Sans Serif';
}

main {
    padding: 60px 30px 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

img.rock {
    transition: all 0.2s ease-in-out;
}

img.paper {
    transition: all 0.2s ease-in-out;
}

img.scissors {
    transition: all 0.2s ease-in-out;
}

.glowRock:hover {
    -webkit-filter: drop-shadow(0 0 5px rgba(255, 0, 221, 0.5))
                    drop-shadow(0 0 5px rgba(255, 0, 221, 0.5));
    filter: drop-shadow(0 0 5px rgba(255, 0, 221, 0.5))
            drop-shadow(0 0 5px rgba(255, 0, 221, 0.5));
}

.glowPaper:hover {
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 195, 255, 0.5))
                    drop-shadow(0 0 5px rgba(0, 195, 255, 0.5));
    filter: drop-shadow(0 0 5px rgba(0, 195, 255, 0.5))
            drop-shadow(0 0 5px rgba(0, 195, 255, 0.5));
}

.glowScissors:hover {
    -webkit-filter: drop-shadow(0 0 5px rgba(255, 230, 0, 0.5))
                    drop-shadow(0 0 5px rgba(255, 230, 0, 0.5));
    filter: drop-shadow(0 0 5px rgba(255, 230, 0, 0.5))
            drop-shadow(0 0 5px rgba(255, 230, 0, 0.5));
}

h1 {
    color: white;
}

.result {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding-top: 128px;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    gap: 12px;
}

.scoreHeader {
    font-weight: bold;
}

.feedback {
    color: white;
    font-size: 20px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.winCount .loseCount .tieCount {
    transition: all 0.5s ease-in-out;
}

.glowCount {
    -webkit-filter: drop-shadow(0 0 10px white)
                    drop-shadow(0 0 10px white);
    filter: drop-shadow(0 0 10px white)
            drop-shadow(0 0 10px white);
    transition: all 0.2s ease-in-out;
}

button.reset {
    width: 200px;
    height: 65px;
    background-color:rgba(0, 0, 0);
    color: rgb(247, 99, 99);
    font-size: 18px;
    border-width: 2px;
    border-color: rgb(247, 99, 99);
    border-radius: 16px;
}

button.resetHover:hover {
    -webkit-filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5))
                    drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5))
            drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
    transition: all 0.2s ease-in-out;
}

